@font-face {
  font-family: 'DOS';
  src: url('assets/fonts/dos.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body, html {
    overflow: hidden
}

.computer-screen {
    width: 95%;
    height: 95%;
    overflow: hidden;
}

.terminal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    padding-left: 5px;

    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;

    font-family: DOS, monospace;
    font-size: 20px;    

    margin-bottom: 15px;

    text-shadow: 0 0 2px rgba(170, 170, 170, 0.5);
}

#terminal-window{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    overflow-y: auto;
    height: calc(100% - 60px);
    flex-wrap: nowrap;
    overflow-x: hidden;
    width: 100%;
}

.terminal-input{
    position: absolute;
    bottom: 1px;
    height: 40px;
    width: 95%;
    display: flex;
}

.terminal-line{
    white-space: pre-wrap;     
  overflow-wrap: anywhere; 
}

#directory{
  display: flex;
  align-items: center;
  white-space: nowrap;
}

#text-input{
    border: none;
    outline: none;
    width: 100%;
    padding: 0 8px; 
    line-height: 1; 
    background-color: black;
    color: white;
    font-family: DOS, monospace;
    font-size: 20px;

    caret-color: transparent; 
    outline: none; 
}
 

/* terminal overlay effects */
/* CRT screen effects */
.terminal-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 2px), radial-gradient(ellipse at center, transparent 0%, transparent 60%, rgba(0, 0, 0, 0.4) 100%),
    radial-gradient(ellipse at center, transparent 0%, transparent 60%, rgba(0, 0, 0, 0.4) 100%);
    pointer-events: none;
    z-index: 10;
    border-radius: 8px;
}

/* Subtle screen flicker */
.terminal-overlay::after {
    overflow: hidden;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(170, 170, 170, 0.02);
    pointer-events: none;
    z-index: 11;
    animation: flicker 1.75s infinite;
    border-radius: 8px;
}

@keyframes flicker {
    0% { opacity: 0.70; }
    5% { opacity: 0.97; }
    10% { opacity: 0.93; }
    15% { opacity: 0.98; }
    20% { opacity: 0.94; }
    25% { opacity: 1; }
    30% { opacity: 0.95; }
    35% { opacity: 0.99; }
    40% { opacity: 0.96; }
    45% { opacity: 1; }
    50% { opacity: 0.97; }
    55% { opacity: 1; }
    60% { opacity: 0.98; }
    65% { opacity: 1; }
    70% { opacity: 0.99; }
    75% { opacity: 1; }
    80% { opacity: 0.97; }
    85% { opacity: 1; }
    90% { opacity: 0.98; }
    95% { opacity: 1; }
    100% { opacity: 0.99; }
}

/* Block cursor like real DOS */
.cursor {
    width: 25px;
    height: 30px;

    background: #aaa;
    animation: cursor-blink 0.53s step-end infinite;

    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes cursor-blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

/* music player */
#player {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60%;
    width: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #555;
    border-radius: 8px;
    color: white;
    font-family: DOS, monospace;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
}


#song-list{
    height: 80%;
    width: 100%;
    overflow-y: auto;
    margin-top: 10px;
    padding-bottom: 20px;
}

#help-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.player-tile{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#now-playing{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-bottom: 20px;
    background-color: rgb(69, 69, 69);
    padding: 5px;
}

.active{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    animation: blink .75s step-end infinite; 
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }  
}

.hidden{
    display: none !important;
}

/* loading screen effects */
#loading{
        position: absolute;
    left: 50%;
    top: 50%;
    height: 60%;
    width: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #555;
    border-radius: 8px;
    color: white;
    font-family: DOS, monospace;
    padding: 10px;
}